body {
    background: #1a1a1a;
    height: 100vh;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    box-sizing: border-box;
    overflow: hidden;
    
    /* audio and visualizer to bottom of page */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  audio {
    width: 100%;
  }

  .sample {
    font: 'AmstelvarAlpha', sans-serif;
  }

  body2 {
    background: #992600;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .first{
    font-family: 'Gloria Hallelujah', cursive;
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 24%;
    color: #494949 !important;
    text-transform: uppercase;
    background: #E6E6E6;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }

  .first:hover{
    color: #ffffff;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s; 
  }


  .second{
    font-family: 'Gloria Hallelujah', cursive;
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 48%;
    color: #494949 !important;
    text-transform: uppercase;
    background: #E6E6E6;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }

  .second:hover{
    color: #ffffff;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s; 
  }
  
  .third{
    font-family: 'Gloria Hallelujah', cursive;
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 72%;
    color: #494949 !important;
    text-transform: uppercase;
    background: #E6E6E6;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }

  .third:hover{
    color: #ffffff;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s; 
  }

  .fourth{
    font-family: 'Gloria Hallelujah', cursive;
    position:absolute;
    transition: .5s ease;
    top: 55%;
    left: 24%;
    color: #494949 !important;
    text-transform: uppercase;
    background: #E6E6E6;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }
  
  .forth:hover{
    color: #ffffff;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s; 
  }

  a{
    text-decoration: none;
    color: black;
    }

    .fifth{
    font-family: 'Gloria Hallelujah', cursive;
    position:absolute;
    transition: .5s ease;
    top: 55%;
    left: 48%;
    color: #494949 !important;
    text-transform: uppercase;
    background: #E6E6E6;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    }

    .fifth:hover{
      color: #ffffff;
      background: #f6b93b;
      border-color: #f6b93b !important;
      transition: all 0.4s ease 0s; 
    }
  
    .sixth{
      font-family: 'Gloria Hallelujah', cursive;
      position:absolute;
      transition: .5s ease;
      top: 55%;
      left: 72%;
      color: #494949 !important;
      text-transform: uppercase;
      background: #E6E6E6;
      padding: 20px;
      border: 4px solid #494949 !important;
      display: inline-block;
      transition: all 0.4s ease 0s;
    }

    .sixth:hover{
      color: #ffffff;
      background: #f6b93b;
      border-color: #f6b93b !important;
      transition: all 0.4s ease 0s; 
    }